<h1>Bookings#edit</h1>
<div class="position-relative m-3">
  <div class="col-12 col-md-6 offset-lg-3">
    <div class="bg-white rounded p-3 shadow">
      <%= simple_form_for [@venue, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.input :total_price, as: :numeric, html5: true %>
        <%= f.submit "Update", class: "btn btn-outline-dark" %>
      <% end %>
    </div>
  </div>
</div>
