<h1>Venues#show</h1>
<p>Find me in app/views/venues/show.html.erb</p>
<%= link_to "go back", venues_path, class: "btn btn-outline-success" %>
<%= link_to "Delete",
  venue_path(@venue), class: "btn btn-outline-danger",
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <br><br><br>
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add a booking to <%= @venue.title%> </h3>
        <%= simple_form_for [@venue, @booking] do |f| %>
          <%= f.input :start_date, placeholder: 'FROM' %>
          <%= f.input :end_date, placeholder: 'to' %>
          <% if current_user %>
          <%= f.submit class: "btn btn-outline-success" %>
          <% else %>
          <%= link_to "book", new_user_session_path, class: "btn btn-outline-success" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
