<div class="container">
  <h1><%= @venue.title %></h1>
  <div class="row">
      <div class="col-12 col-lg-8 my-3">
        <div class="card">
          <div class="banner">
            <% if @venue.photos.attached? %>
              <% @venue.photos.each do |photo| %>
                <%= cl_image_tag photo.key, class: "card-img-top venue-img" %>
              <% end %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= @venue.title %></h5>
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <p class="card-text"><%= @venue.description %> </p>
              <div>
                <p><%= @venue.address %></p>
                <p><%= @venue.venue_type %> <i class="<%= @categories[@venue.venue_type] %>"></i></p>
                <div class="d-flex justify-content-between">
                  <% if @venue.has_ac %>
                    <p><i class="fa-regular fa-snowflake"></i></p>
                  <% end %>
                  <% if @venue.has_parking %>
                    <p><i class="fa-solid fa-square-parking"></i></p>
                  <% end %>
                  <% if @venue.has_internet %>
                    <p><i class="fa-solid fa-wifi"></i></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 my-3">
      <div class="bg-white p-3 shadow">
        <h3>Add a booking to <%= @venue.title%> </h3>
        <%= simple_form_for [@venue, @booking], data: { controller: "price" } do |f| %>
          <%= f.input :start_date, as: :date, html5: true, input_html: { min: Date.current.to_s, id: "start-date", value: Date.today, data: { price_target: "startDate", action: "change->price#updatePrice" } } %>
          <%= f.input :end_date, as: :date, html5: true, input_html: { min: Date.current.to_s, id: "end-date", value: Date.today, data: { price_target: "endDate", action: "change->price#updatePrice" } } %>
          <h4>Daily Rate : </h4> <p data-price-target="price"><%= @venue.daily_rate %>€</p>
          <% if current_user %>
            <%= f.submit class: "btn btn-outline-dark", data: { price_target: "submit" } %>
          <% else %>
          <%= link_to "book", new_user_session_path, class: "btn btn-outline-success" %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
      <%= link_to "Edit", edit_venue_path(@venue), class: "btn btn-outline-dark" %>
      <%= link_to "Go back", venues_path, class: "btn btn-outline-dark" %>
      <%= link_to "Delete", venue_path(@venue), class: "btn btn-outline-danger",
     data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </div>
</div>
<br><br><br>
